<div id="search-component">
    <h4>Hero Search</h4>
    <input #searchBox (keyup)="search(searchBox.value)"/>
    <div>
        <div *ngFor="let hero of heroes | async" (click)="gotoDetail(hero)">
            {{hero.name}}
    </div>
    </div>
</div>