
    <h2>My Heroes</h2>
    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> 
        <span>{{hero.name}}</span>
         <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
      </li>
    </ul>
    <div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
    <div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
    <!--<hero-detail [hero]="selectedHero"></hero-detail>-->

    <!--buna gerek kalmadı-->
    <!--<div *ngIf="selectedHero">
      <h2>{{selectedHero.name}} details!</h2>
      <div><label>id: </label>{{selectedHero.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="selectedHero.name" placeholder="name"/>
      </div>
    </div>-->

<!--<div>
  <label> This is two way binding</label><br/>
  <label>Event name: </label>
  <input [(ngModel)]="event.name" placeholder="name">
  <h6>{{event.name}}</h6>
</div>


<li style="cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;"
*ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
  <span class="badge">{{hero.id}}</span> {{hero.name}}
</li>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>-->

<!--<div>
  <h1>Events</h1>
  <div class="row">
    <div *ngFor="let event of events" class="col-md-5">
      <event-item #thumbnail [event]="event"></event-item>
      <h3>{{thumbnail.someProperty}}</h3>
    </div>
  </div>
</div>-->